---
---
@import "just-the-docs";

:root {
  --jtd-link-color: #50fa7b;
  --jtd-link-color-visited: #4ed36f;
  --jtd-link-color-hover: #ffffff;
  
  --jtd-primary-color: #50fa7b;

  --jtd-body-background-color: #282a36;
  --jtd-body-text-color: #f8f8f2;
  
  --jtd-sidebar-bg-color: #1a1c23;
  
  --jtd-btn-primary-bg-color: #50fa7b;
  --jtd-btn-primary-text-color: #282a36;
}

[data-theme="dark"] {
  --jtd-link-color: #50fa7b;
  --jtd-link-color-visited: #4ed36f;
  --jtd-primary-color: #50fa7b;
}

.site-title {
  color: #50fa7b !important;
}

.nav-list-link.active {
  color: #50fa7b !important;
  font-weight: 600;
}
